<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title></title>
  <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/lib/layui/css/layui.css')}">
  <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/lib/layui/ext/dtree/dtree.css')}">
  <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/lib/layui/ext/dtree/font/iconfont.css')}">
  <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/font/iconfont.css')}">
  <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/assets/css/index.css')}">
</head>
<body class="layui-layout-body">

	<div class="content-wrapper">
		
		<div class="content-main">
			<table class="layui-hide" id="MainTable" lay-filter="MainTable"></table>
			<script type="text/html" id="MainTableToolBar">
				<div class="layui-btn-container">
			  		<div class="layui-form-item">
    					<div class="layui-inline">
							<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
							<button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
			  			</div>
					</div>
				</div>
			</script>
			<script type="text/html" id="MainTableRowToolBar">
				<button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="modify">修改</button>
				<button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="role">角色</button>
				<button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>
			</script>
		</div>

	</div>
	<div id="EditDialog" style="display: none">
	    <div class="layui-card">
			<div class="layui-card-body">
			<form class="layui-form layui-form-pane layui-form-compact" lay-filter="EditDialog" action="/">
			  <div class="layui-form-item">
			    <label class="layui-form-label">用户名</label>
			    <div class="layui-input-block">
			      <input type="hidden" name="id">
			      <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">昵称</label>
			    <div class="layui-input-block">
			      <input type="text" name="fullname" placeholder="请输入" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">密码</label>
			    <div class="layui-input-block">
			      <input type="text" name="password" placeholder="请输入" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">电话</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">邮箱</label>
			    <div class="layui-input-block">
			      <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			  <div class="layui-btn-container layui-form-item">
				<button class="layui-btn layui-btn-sm layui-btn-normal layui-btn-right" lay-submit="" lay-filter="Save">保存</button>
			  </div>
			</form>
			</div>
	    </div>
	</div>
	<div id="RoleDialog" style="display: none">
	    <div class="layui-card">
			<div class="layui-card-body">
			<form class="layui-form layui-form-pane layui-form-compact" lay-filter="EditDialog" action="/">
			  <div class="layui-btn-container layui-form-item">
				<button class="layui-btn layui-btn-sm layui-btn-normal layui-btn-right" lay-submit="" lay-filter="SaveRole">确定</button>
			  </div>
			</form>
			</div>
	    </div>
	</div>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/assets/lib/layui/layui.js')}"></script>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/assets/js/smart.js')}"></script>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/assets/js/dict.js')}"></script>
<script th:inline="none">
layui.use(['table','form'], function(){
	var $ = layui.jquery;
	var table = layui.table;
	var form = layui.form;
	
	var mainTable;
	var mainTableData;
	var editDlgIdx;
	var roleDlgIdx;
	var baseurl = '/api/user/';
	
	Map.init("role", "/api/role/", function(data){
		roleList = data;
		for(var idx in data){
			var tpl = 
				  '  <div class="smart-check-list">' +
				  '    <input type="checkbox" data-id="'+ data[idx].id +'" name="' + data[idx].name + '" lay-skin="primary" title="' + data[idx].title + '">' +
				  '  </div>';
			$("#RoleDialog form").prepend(tpl);
		}
	});	
      
	mainTable = table.render({
		elem: '#MainTable',
		toolbar: '#MainTableToolBar',
		url: baseurl,
		page: true,
		height:'full-0',
		cols: [[
			{type:'checkbox', fixed: 'left'},
			{field: 'id', title: 'ID'},
			{field: 'username', title: '用户名'},
			{field: 'fullname', title: '昵称'},
			{field: 'phone', title: '电话'},
			{field: 'email', title: '邮箱'},
			{fixed: 'right', title:'操作', toolbar:'#MainTableRowToolBar', width:160}
		]]
	});
	
	var dlgOption = {
			type: 1,
			title: '添加用户',
			data:{},
			maxWidth: 780,
			content: $('#EditDialog'),
			yes: function(index, layero){
				layer.msg("Save");
				layer.close(index);
			},
			btn2: function(index, layero){
				layer.confirm("确认退出编辑？",function(idx){
					layer.close(idx);
					layer.close(index);
				});
				return false;
			},
			cancel: function(index, layero){
				layer.confirm("确认退出编辑？",function(idx){
					layer.close(idx);
					layer.close(index);
				});
				return false;
			},
			success: function(layero, index){
				if(this.data){
					form.val("EditDialog",this.data);
				}else{
					$("#EditDialog input").val("");
				}
			}
		}
	
	var roleOption = {
			type: 1,
			title: '选择角色',
			data:{},
			maxWidth: 780,
			content: $('#RoleDialog'),
			yes: function(index, layero){
				layer.msg("Save");
				layer.close(index);
			},
			success: function(layero, index){
				$("#RoleDialog").find('input').removeAttr("checked");
				for(var idx in this.data){
					$("#RoleDialog").find('input[name="'+this.data[idx]+'"]').attr("checked", 'checked');
				}
				form.render();
			}
		}
	  
	//监听表单提交
	form.on('submit(Save)', function(data){
		var model = data.field;
		if(model.id > 0){
			layer.close(editDlgIdx);
			$.ajax({
				type: "PUT",
				url: baseurl + model.id,
				data: JSON.stringify(model),
				success: function(data) {
					table.reload('MainTable');
				},
				dataType: "json",
				contentType:"application/json"
			});
		}else{
			$.ajax({
				type: "POST",
				url: baseurl,
				data: JSON.stringify(model),
				success: function(data) {
					table.reload('MainTable', {
						page: {
							curr: 1 //重新从第 1 页开始
						}
					});
				},
				dataType: "json",
				contentType:"application/json"
			});
		}
		return false;
	});

	//监听表单提交
	form.on('submit(SaveRole)', function(data){
		layer.close(roleDlgIdx);
		var model = data.field;
		console.log(model);
		var ids = [];
		$("#RoleDialog input[type='checkbox']:checked").each(function(){
			ids.push($(this).data("id"));
			console.log(this);
		});
		var uid = $("#RoleDialog").data("id");
		$.ajax({
			url: "/api/user/"+uid+"/role",
			type: 'PUT',
			data: JSON.stringify(ids),
			success: function( result ) {
				console.log(result);
			},
			dataType: "json",
			contentType:"application/json"
		});

		return false;
	});
	
	//Table工具栏事件
	table.on('toolbar(MainTable)', function(obj){
		switch(obj.event){
			case 'add':
				dlgOption.title = '添加用户';
				dlgOption.data = null;
				editDlgIdx = layer.open(dlgOption);
				break;
			case 'delete':
				var status = table.checkStatus('MainTable');
				if(status.data.length<=0){
					layer.msg("未选中任何用户");
					break;
				}
				layer.confirm('确认删除所选用户？', {icon: 2, title:'删除'}, function(index){
					layer.close(index);
					status.data.forEach(function(data){
						$.ajax({
							type: "DELETE",
							url: baseurl + data.id,
							success: function(data) {
								table.reload('MainTable');
							}
						});
					});
				});
				break;
		};
	});//监听行工具事件
	table.on('tool(MainTable)', function(obj){
		switch(obj.event){
		case 'modify':
			dlgOption.title = '编辑用户';
			dlgOption.data = obj.data;
			editDlgIdx = layer.open(dlgOption);
			break;
		case 'role':
			$("#RoleDialog").data("id", obj.data.id);
			$.get("/api/user/"+obj.data.id+"/role", function(result){
				roleOption.data = result.data;
				roleDlgIdx = layer.open(roleOption);
			});
			break;
		case 'delete':
			layer.confirm('确认删除用户：'+obj.data.username, {icon: 2, title:'删除'}, function(index){
				layer.close(index);
				$.ajax({
					type: "DELETE",
					url: baseurl+obj.data.id,
					success: function(data) {
						obj.del();
					}
				});
			});
			break;
		};
	});
});
</script>
</body>
</html>